@import url('https://fonts.googleapis.com/css?family=Spectral:800');

* {
  font-family: "Spectral" !important;
  font-weight: black !important;
}

body {
  background-color: palevioletred;
  font-family: "Arial";
}

div.pitch-menu-logo {
  display: none;
}

#title-footer {
  opacity: 0;
}

#title-footer:hover {
  opacity: 1;
}