@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

* {
  text-transform: none !important;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

div.pitch-menu-logo {
  display: none;
}

#title-footer {
  opacity: 0;
}

#title-footer:hover {
  opacity: 1;
}

h1 {
  font-size: 70px;
}
h4, h3  {
  font-size: 50px;
}

div#gp-logo img {
  width: 200px;
}

.reveal .slide-background {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  color: black;
  font-family: "Roboto";
}

.reveal img, .reveal video, .reveal iframe {
  max-width: 40%;
  max-height: 95%;
}


@media only screen and (max-width: 500px) {
  body {
      background-color: lightblue;
  }
}
